* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.034);
}

:root {
    scroll-behavior: smooth;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header {
    
    height: 100vh;
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.438) 0%, rgba(251, 194, 235, 0.404) 100%), url(img/background.jpg);
    /*background-image: url(img/background.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    


}

.head{
    
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: white;
}

.menu {
    position: fixed;
    top: 80px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, -150%);
    transition: transform .3s ease-in-out;

}

.menu-navegacion > a {
    padding-left: 25px;
    color: white;
    text-decoration: none;
}

.spread {
    transform: translate(0);
}

.titulo {
    font-size: 350%;
    
    margin-bottom: 30px;
    /* text-shadow: 2px 2px 26px rgb(0, 0, 0); */
}

.copy {
    font-weight: 300;
    font-size: 35px;
    /* text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.918); */
}

/* Nuestro servicio */

.subtitulo {
    text-align: center;
    font-weight: 550;
    color: #4d0686;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio {
    display: flex;
    align-items: center;
}
.number {
    background: #4d0686;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 3px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin: 5px;
}

.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: rgba(0, 0, 0, 0.151); */
    
}
.img-galeria {
    margin: 10px;
    width: 30%;
    height: 30%;
    display: block;
    padding: 0px;
    cursor: pointer;
    transition: .3s ease-in-out;
    border: .5px solid rgba(0, 0, 0, 0);
    border-radius: 25px 5px 25px 5px;
    object-fit: cover;
}

.img-galeria:hover {
    transform: scale(1.05);
    
}

.experts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cont-expert {
    margin: 10px;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
}
.n-expert {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show {
    transform: translate(0);
}

.agregar-imagen {
    width: 60%;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImage {
    transform: scale(1);
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/* Footer  */

footer {
    background-color: rgba(0, 0, 0, 0.068);
    padding-bottom: 0.1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us {
    width: 40%;
    /* color: #fff; */
}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media-icon {
    font-size: 300%;
    text-decoration: none;
    color: rgb(85, 85, 85);
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    /* border-radius: 50%;
    border: 1px solid #fff; */
    text-align: center;
}

.social-media-icon:hover {
    color: #4d0686;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #000;
    margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
    .menu-navegacion {
        width: 50vw;
    }

    .titulo {
        padding-top: 20px;
        font-size: 40px;
        text-align: center;
    }

    .copy {
        font-size: 20px;
    }

    .contenedor-servicio {
        display: flex;
        flex-direction: column;
    }

    .service {
        font-size: 20px;
    }

    .number {
        padding-top: 0;
        
    }
    
    .service {
        padding-bottom: 15px;
    }

    .img-galeria {
        width: 45%;
    }
    .contenedor {
        display: flex;
        flex-direction: column;
    }

    .experts {
        align-items: center;
        flex-direction: column;

    }
    .cont-expert {
        width: 70%;
    }

    .n-expert {
        font-size: 40px;
    }

    .agregar-imagen {
        width: 80%;
    }
    .social-media {
        width: 80%;
  
        text-align: center;
    }
    .social-media i {
        margin-left: 0;
    }

    .contact-us {
        text-align: center;
        width: 100%;
        padding-bottom: 40px;
    }
}
